body{
    height:100vh;
    background:linear-gradient(135deg,#eae2d1,#eee5d3);
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    background:#fff;
    padding: 30px;
    width:350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card h1{
    margin-bottom: 20px;
}

.result{
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.result.high{
    background:#e8c6c6;
    color:#900404;
}

.result.low{
    background: #a1dec9;
    color:#02583b;
}

.prob{
    font-size: 18px;
}

.prob span{
    font-weight: bold;
}

.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background:linear-gradient(135deg,#0c0c0c,#080806);
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
}