*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segeo UI",Tahoma,Geneva,Verdana,sans-serif;

}
body{
    min-height:100vh;
    background:linear-gradient(135deg,#eae2d1,#eee5d3);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.container{
    width: 100%;
    background:#eee5d3;
    max-width:850px;
    padding:30px 40px;
    border-radius:48px;
    box-shadow:0 15px 40px rgba(0,0,0,0.25)
}

.container h1,
.container h2{
    text-align:center;
    margin-bottom:35px;
    color:rgba(17, 3, 3, 0.878);
    font-weight:800;
    font-size:44px;
}

.form-header{
    text-align:center;
    margin-bottom: 35px;
}

.header-image{
    width: 730px;
    height: auto;
    margin-bottom: 10px;
}

form{
    display:grid;
    grid-template-columns:260px 1fr;
    row-gap:18px;
    column-gap:30px;
    align-items:center
}

.full-width{
    grid-column:span 2;

}

h1{
    text-align:center;
    margin-bottom:70px;
}

input,
select{
    width:100%;
    padding:11px 12px;
    border-radius:8px;
    border:1px solid #0e0808;
    font-size:14px;
    transition:all 0.3s ease;
    background-color:#fafafa;
}
input::placeholder{
    color:#999;
}

label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
    font-weight:600;
    color:#333;
}


input:focus,
select:focus{
    outline:none;
    border-color:#2a5298;
    box-shadow: 0 0 0 3px rgba(42,82,152,0.15);
    background-color:#fff;
}

select{
    cursor:pointer;
}

button{
    grid-column:span 2;
    padding:14px;
    border-radius:10px;
    background:linear-gradient(135deg,#141313,#080806);
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:all 0.3s ease;
    margin-top:15px;
}
button:hover{
    transform:translate(-2px);
    box-shadow:0 10px 25px #f7e8c8;
}

@media(max-width:768px){
    form{
        grid-template-columns:1fr;
    }
    button{
        grid-column:span 1;
    }
    
}

